#top-area h1 em{
    background: url('images/sprites.png') no-repeat 0 -55px;
}

#menu-main-menu .sub-menu .pointer{
    background: url('images/sprites.png') no-repeat 0 0;
}

#home-slider .navigation a.next{
    background: url('images/sprites.png') no-repeat -37px 0;
}

#home-slider .navigation a.previous{
    background: url('images/sprites.png') no-repeat -37px -25px;
}

#post-loop .corner.corner-se{
    background: url('images/sprites.png') no-repeat -18px -19px;
}

#page-title .nav a[rel=prev]{
    background: url('images/sprites.png') no-repeat 0 -35px;
}

#page-title .nav a[rel=next]{
    background: url('images/sprites.png') no-repeat -18px -68px;
}